html,
body {
    font-size: 16px;
}

.alert-danger {
    text-align: center;
    color: #ffffff;
    background-color: rgb(160, 128, 32) !important;
    border-radius: 0.5rem;
    padding: 0.375rem;
    font-size: 0.8125rem;
    line-height: 0.8125rem;

    p {
        margin: 0;
        position: relative;
        top: 0.125rem;
    }
}

.alert-icon {
    margin-right: 0.3125rem;
    max-height: 0.8125rem;
    position: relative;
    top: 0.125rem;
}