@mixin transitionCustom($property, $duration: 250ms, $timingFunction: ease-in) {
    transition: $property $duration $timingFunction;
}

@mixin opacity($value) {
    opacity: calc($value / 100);
}

@mixin borderRadius($size) {
    border-radius: $size;
}

@mixin borderRadiusCorners($topLeft, $topRight, $bottomRight, $bottomLeft) {
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-right-radius: $bottomRight;
    border-bottom-left-radius: $bottomLeft;
}


@mixin animation($animationName, $time: 4s, $transitionType: ease-in-out, $duration: infinite) {
    animation: $animationName $time $transitionType $duration;
}

@mixin buttonWithGradient($background-color, $darken: 5%) {
    @include setBackground($background-color, $darken);
    border: medium none;

    &:disabled {
        opacity: 1;

        svg {
            opacity: 0.5;
        }

        @include setBackground(rgba($background-color, 0.5), 50%);
    }

    &:focus-visible {
        outline: 0
    }
}

@mixin setBackground($background-color, $darken) {
    background: $background-color;
    background: -moz-linear-gradient(135deg, $background-color 0%, $background-color 50%, darken($background-color, $darken) 50%, darken($background-color, $darken) 100%);
    background: -webkit-linear-gradient(135deg, $background-color 0%, $background-color 50%, darken($background-color, $darken) 50%, darken($background-color, $darken) 100%);
    background: linear-gradient(135deg, $background-color 0%, $background-color 50%, darken($background-color, $darken) 50%, darken($background-color, $darken) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color', endColorstr='$second-color', GradientType=1);
    background-size: 400% 400%;
}

@mixin color($value) {
    color: $value;

    &:hover,
    &:focus,
    &:active,
    &[disabled] {
        color: $value;
    }
}

@mixin checkBackground() {
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 0, transparent 75%, #fff 0),
        -webkit-linear-gradient(45deg, #fff 25%, #d0d0d0 0, #d0d0d0 75%, #fff 0);
    background-image: linear-gradient(45deg, #fff 25%, transparent 0, transparent 75%, #fff 0),
        linear-gradient(45deg, #fff 25%, #d0d0d0 0, #d0d0d0 75%, #fff 0);
    background-size: 0.40625rem 0.40625rem;
    background-position: 0 0,
        0.203125rem 0.203125rem;
}